<section id="{{ section.level }}" class="section section--level-{{ section.level }}">
  <{{ section.htag }}><a href="#{{ section.level }}" class="section__anchor">#</a>{{ section.name }}</{{ section.htag }}>
  {{ section.description|markdown }}

  {% if section.code %}
    <div class="code">
      <div class="code__rendered">
        {{ section.code|raw }}
      </div>
      <div class="code__code">
        <pre class="language-{{ section.code_language }}"><code class="language-{{ section.code_language }}">{{ section.code }}</code></pre>
      </div>
    </div>
  {% endif %}

  {% if section.color %}
    <div class="color">
      {% for colorset in section.color %}
        <ul class="color__set">
          {% for color in colorset %}
            <li>
              <div style="background:{{ color.value }};width:100px;height:100px;border:1px solid grey;"></div>
              {% if color.name %}
                <h5>{{ color.name }}</h5>
              {% endif %}
              <h6>{{ color.value }}</h6>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endif %}

  {% if section.variable %}
    <div class="variable">
      {{ section.variable|markdown }}
    </div>
  {% endif %}

  {% if section.font %}
    <div class="font">
      <div style="font-family:{{ section.font_family }};">
        {{ section.font|markdown }}
      </div>
    </div>
  {% endif %}

  {% for section in section.sub %}
    {% include 'section.html' %}
  {% endfor %}
</section>
