<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'intro.html' %}
    {% include 'toc.html' %}
    {% for section in sections %}
      {% include 'section.html' %}
    {% endfor %}
    {% include 'footer.html' %}
  </body>
</html>